.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(30, 30, 30);
}

.sub-main{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px;
  padding-top: 30px;
  border-radius:30px ;
  background-color: rgb(206,69,76);
}
h1{
  color: white;
  margin: auto;
  width: 30%;
}

.img{
  padding-top: 30px;
  justify-content: center;
  display: flex;
  width: 30%;
  
  



}
input{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  margin: auto;
  width: 60%;
  box-shadow: inset 0px 0px 25px 0px 3;
}